.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
}

.content{
  background-color: var(--gray-100);
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.title{
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    flex-direction: row;
  }
  a{
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
}
.titleTrade{
  display: flex;
  border-bottom: 1px solid var(--gray-300);
  justify-content: space-between;
  margin-bottom: 1rem;
}
.bags{
  display: flex;
  justify-content: space-between;

  div{
    display: flex;
  }
}
.bag{
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  img{
    width: 70px;
  }
}
.pokemon{
  flex-direction: column;
  margin: 0.5rem;
  width: 25%;
}