.container{
  height: 80vh;
  width: 45%;

  padding: 1rem;

  margin-top: 1.5rem;

  border: 1px solid black;
  border-radius: 1.5rem;

  text-align: center;
  background-color: var(--gray-100);


  input{
    width: 300px;
    margin: 1.5rem auto 0;
    padding: 0.5rem 1.5rem;
    
    border-radius: 0.25rem;
    border: none;
    
  }

  input:focus{
    outline: none;
  }
}
.filter::-webkit-scrollbar {
  width: 5px;
}

.filter::-webkit-scrollbar-track {
  background: var(--white);
}

.filter::-webkit-scrollbar-thumb {
  background-color:var(--gray-300);    
  border-radius: 10px; 
  border: 1px solid var(--gray-700);  
}
.filter{
  max-height: 10vh;
  overflow-y: scroll;
  position: absolute;
  background-color: var(--white);
  width: 300px;
  transform: translateX(23.5%);
}

.filterPokemon{
  border-left: 1px solid grey;
  cursor: pointer;
  padding: 0.25rem 0;
}

.filterPokemon:hover{
  background-color: var(--gray-300);
}

.listPokemon{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  overflow-y: scroll;
  max-height: 62vh;
}

.pokemon{
  border: 1px solid red;
  width: 32%;

  padding: 1rem;
  margin: 1rem;

  border-radius: 1rem;

  div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}